@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-image: url("/images/backgrounds/port-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#root {
  background-color: rgba(0, 0, 0, 0.75);
  background-size: auto;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#linkedinLink:before {
  position: absolute;
  content: url(/public/images/about-me/linkedin-logo.png);
  transform: scale(1.25) translate(-2rem, 0);
}

.h1 {
  @apply text-4xl text-center;
}

.h2 {
  @apply text-2xl text-center;
}

.h4 {
  @apply text-xl text-center;
}

.h6 {
  @apply text-lg text-center;
}

.primary-container-25 {
  @apply mt-10 bg-primary-25 flex justify-center sm:rounded-md sm:mx-6 md:mx-10 lg:mx-12;
}

textarea::placeholder {
  color: hsl(215, 16%, 47%);
}
